* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn:hover {
  background-color: #469165;
}
.btn {
  width: 164px;
  height: 44px;
  background-color: #30b868;
  border-radius: 4px;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
}
.white-text {
  color: white;
}
.green-text {
  color: rgba(48, 184, 104, 1);
}
.icon-bg {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-bg .img {
  width: 32px;
  height: 32px;
}

header {
  max-width: 2042px;
}
nav {
  max-width: 2042px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}
nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
nav ul a {
  font-style: medium;
  text-decoration: none;
  color: black;
}
#banner {
  max-width: 2042px;
  padding: 115px 120px 179px 120px;
  background: url("../assets/hero-bg.png") center / cover no-repeat;
  align-items: center;
  text-align: center;
}
#banner .banner-text {
  max-width: 1360px;
  margin: 0 auto;
}
#banner .banner-text .early {
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: #ffffff;
  color: #469165;
  padding: 8px 16px;
  border-radius: 1000px;
  font-size: 16px;
  margin-bottom: 16px;
}
.early .dot {
  position: relative;
  width: 6px;
  height: 6px;
  background-color: #469165;
  border-radius: 8px;
}
.early .dot::before {
  content: "";
  position: absolute;
  inset: -2px;
  background: rgba(74, 143, 98, 0.25);
  border-radius: 50%;
}
.early .dot::after {
  content: "";
  position: absolute;
  inset: -4px;
  background: rgba(74, 143, 98, 0.15);
  border-radius: 50%;
}
#banner .banner-text h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  margin-bottom: 16px;
}
#banner .banner-text p {
  font-size: 18px;
  width: 770px;
  color: white;
  margin: 0 auto;
}
#banner .banner-text .banner-btn {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
#banner .banner-text .banner-btn .btn_2:hover {
  background-color: #469165;
}
#banner .banner-text .banner-btn .btn_2 {
  width: 251px;
  height: 52px;
  background-color: #30b868;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
#banner .banner-text .banner-btn .btn_3 {
  width: 198px;
  height: 52px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  font-weight: 600;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

#notes {
  margin-top: 40px;
  text-align: center;
}
#notes .section-heading {
  max-width: 1360px;
  margin: 0 auto;
  align-items: center;
}
#notes .section-heading h2 {
  font-size: 48px;
  font-style: bold;
  color: #001931;
}
#notes .section-heading p {
  color: #627382;
  margin-top: 16px;
  margin-bottom: 44px;
}
#notes .list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
}
#notes .list .card {
  max-width: 322px;
  height: 300px;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card h4 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-top: 18px;
}
.card p {
  color: #627382;
  margin-bottom: 21.5px;
  margin-top: 16px;
}

#second_brain {
  max-width: 1360px;
  margin: 120px auto;
}
#second_brain .brain_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 220px;
}
#second_brain .brain_container .brain_img {
  width: 600px;
  height: 600px;
}
#second_brain .brain_container .brain_text {
  max-width: 540px;
}
.brain_text .green {
  color: #30b868;
  margin-bottom: 16px;
}
.brain_text h2 {
  font-size: 48px;
  font-style: bold;
  color: #001931;
  margin-bottom: 16px;
}
.brain_text p {
  color: #627382;
  margin-bottom: 40px;
}
.brain_text ul li {
  list-style: none;
  display: flex;
  gap: 7.87px;
  font-weight: 500px;
  margin-bottom: 16px;
}

#think_clear {
    padding: 0px 120px;
}
#think_clear .think_text {
  max-width: 1360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: #f7f6f2;
}
.think_text h2 {
  font-size: 40px;
  font-style: bold;
  margin-bottom: 16px;
  margin-top: 80px;
}
.think_text p {
    width: 525px;
  color: #627382;
  text-align: center;
}
.think_text .btn-4:hover {
  background-color: #469165;
}
.think_text .btn-4 {
  width: 194px;
  height: 52px;
  background-color: #30b868;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 16px;
}
.think_text .grey{
    color: #627382;
    margin-bottom: 80px;
}

footer{
    max-width: 2042px;
    margin-top: 120px;
    padding: 120px 120px 30px 120px;
    background-color: #001931;
}
footer .footer_content{
    max-width: 1360px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.footer_content .footer_img{
    width: 139px;
    height: 60px;
}
.footer_content .social{
    font-size: 20px;
    font-family: 500;
    color: white;  
}
.footer_content .social ul{
    margin-top: 16px;
    display: flex;
    list-style: none;
    gap: 16px;
}
.footer_content .social ul li i{
    cursor: pointer;
}
footer hr{
    margin-top: 80px;
    margin-bottom: 30px;
    color: #E5E7EB;
}
footer .copy{
    text-align: center;
    color: white;
}